language: python
python:
  - 2.7
  - 3.5
  - 3.6
install:
  - pip install --upgrade setuptools
  - pip install --upgrade pip
  - pip install -r requirements.txt
script:
  - py.test tests --pep8 imagebutler --cov imagebutler --cov-report term-missing
branches:
  only:
    - master
    - /^R\/\d+\.\d+\.\d+$/
    - /^D\/\d+\.\d+\.\d+\/.*travis$/
