alabaster==0.7.11
alembic==1.0.0
aniso8601==3.0.2
apipkg==1.5
argh==0.26.2
astroid>=1.6.5
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
bandit==1.4.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
docutils==0.14
execnet==1.5.0
Flask==1.0.2
Flask-Cors==3.0.6
Flask-Login==0.4.1
Flask-Migrate==2.2.1
Flask-Redislite==0.1.1
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
gitdb2==2.0.4
GitPython==2.1.11
idna==2.7
imagesize==1.0.0
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
livereload==2.5.2
Mako==1.0.7
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
msgpack-python==0.5.6
olefile==0.45.1
packaging==17.1
pathtools==0.1.2
pbr==4.2.0
pep8==1.7.1
piexif==1.0.13
Pillow==5.2.0
pluggy==0.7.1
port-for==0.4
progressbar2==3.38.0
psutil==5.4.6
py==1.5.4
pycodestyle==2.4.0
pycrypto==2.6.1
Pygments==2.2.0
pylint>=1.9.2
pyparsing==2.2.0
pytest==3.7.1
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
python-dateutil==2.7.3
python-editor==1.0.3
python-utils==2.3.0
pytz==2018.5
PyYAML==3.13
redis==2.10.6
redis-collections==0.4.2
redislite==3.2.311
requests==2.19.1
rq==0.12.0
six==1.11.0
smmap2==2.0.4
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.1.0
SQLAlchemy==1.2.10
stevedore==1.29.0
tornado==5.1
tox==3.1.3
typed-ast==1.1.0; python_version>="3.0"
urllib3==1.23
virtualenv==16.0.0
watchdog==0.8.3
Werkzeug==0.14.1
wrapt==1.10.11
